# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java-project\SpringMVC02_02_fileupload\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
