# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java-project\Spring04_05tx_xml\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
